name: Publishing the action to the marketplace

on:   
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

  workflow_dispatch:  
  
permissions:
  contents: read
    
jobs:
  test-local-action:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - uses: ./
        name: json to file
        with:
          json: '{"foo": "test"}'
          filename: 'test.json'
        id: store-json

      - shell: pwsh        
        run: |
         $content = Get-Content -Path 'test.json'
         $test = $content | ConvertFrom-Json
         if ($test.foo -eq 'test') {
            Write-Host "File found correct"
         } 
         else {
            Write-Host "Found this json:"
            Write-Host $test | ConvertTo-Json
         }
            
      - name: Upload result file as artefact
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v2.3.1
        with: 
          name: test
          path: test.json
    
  publish:
    needs: test-local-action
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      
      - name: Get tag value
        id: tag
        uses: devops-actions/action-get-tag@4e13c4ea459efa2988a10d5ff0f252bb097929ef # v1.0.1
        
      - name: Use tag
        run: echo ${{ steps.tag.outputs.tag }}

      - uses: actions/create-release@0cb9c9b65d5d1901c1f53e5e66eaf4afd303e70e # v1.1.4
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
          body: |
            Release ${{ github.ref }} is available now

      # todo: figure out how this works with an action :-)
      #- uses: actions/publish-release-asset@v2
        #with:
          #upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          #asset_path: ./my-artifact.zip
          #asset_name: my-artifact.zip
          #asset_content_type: application/zip
      
      - uses: rajbos-actions/slack@ed1309ab9862e57e9e583e51c7889486b9a00b0f # v2.0.0
        with: 
          status: ${{ job.status }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: always()
