name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'
      
permissions:
  contents: read

jobs:
  build: # make sure build/ci works properly
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node-

      - run: | 
          npm ci
          npm run all

  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./
        id: store-json
        with:
          json: '{"foo": "test"}'
          filename: 'test.json'

      # todo: add test that checks with additional quotes in the value
      - shell: pwsh 
        name: test the file content       
        run: |
         $content = Get-Content -Path 'test.json'
         Write-Host "Found this content in the file:"
         Write-Host $content
         
         $test = $content | ConvertFrom-Json
         if ($test.foo -eq 'test') {
            Write-Host "File found correct"
         } 
         else {
            Write-Host "Found this json:"
            Write-Host $test | ConvertTo-Json
         }
